<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhi.dms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Donate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".DonorSignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".donarDashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".DonarSignup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".receiverSignIn" />
        <activity android:name=".ReceiverSignUp" />
        <activity android:name=".ReceiverDashboard" />
        <activity android:name=".receivedItems">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchNewItem">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>

        <activity android:name=".DonateNew">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>

        <activity android:name=".CurrentItems">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
    </intent-filter>
</activity>

        <activity android:name=".MyDonations">
<intent-filter>
<action android:name="android.intent.action.MAIN" />
</intent-filter>
    </activity>

        <activity android:name=".ItemLanding">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>

    </application>

</manifest>